---
---

@import "{{ site.theme }}";

.navbar {
    overflow: visible;
    background-color: #419995; /* Dark background */
    border-bottom: 10px solid #e7ff8f;
    position: fixed; /* Stays at the top of the page */
    top: 0;
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure navbar is on top */
    height: 60px; /* Set a specific height for the navbar */
}

/* Navbar links */
.navbar .nav-item {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

/* Change color on hover */
.navbar .nav-item:hover {
    background-color: #692954;
    color: rgb(255, 255, 255);
}